<% @concert.each do |con| %>
  <div class="lists">
 	<h2 class="head2"><%= con.artist %></h2>
 	<ul>
	<li>Date: <strong><%= con.date %></strong></li>
	<li>Venue: <strong><%= con.venue %></strong></li>
	<li>City: <strong><%= con.city %></strong></li>
	<li>Price: <strong><%= con.ticket_price %></strong></li>
	<li>Description: <strong><%= con.description %></strong></li>
	</ul>	
  </div>
  <p></p>
<% end %>

