<% @concert.each do |con| %>
  <div>
 	<h3>Artist: <%= con.artist %></h3>
	<p>Date: <strong><%= con.date %></strong></p>
	<h5>Venue: <strong><%= con.venue %></strong></h5>
	<h5>City: <strong><%= con.city %></strong></h5>
	<p>Price: <strong><%= con.ticket_price %></strong></p>
	<p>Description: <strong><%= con.description %></strong></p>	
  </div>
  <p></p>
<% end %>