<h1>Add a concert</h1>
<%= form_for @concert do |f| %>
<%= f.label :artist %>
<% f.text_field :artist %>
<br>
<%= f.label :date %>
<%= f.date_field :date %>
<br>
<%= f.label :venue %>
<%= f.text_field :venue %>
<br>
<%= f.label :city %>
<%= f.text_field :city %>
<br>
<%= f.label :ticket_price %>
<%= f.text_field :ticket_price %>
<br>
<%= f.label :description %>
<%= f.text_field :description %>
<br>

<button class="btn btn-danger"><% f.submit "Create" %>Create</button>
<% end %>